<template>
  <div>
    <div class="q-pa-xl">
      <h2 class="text-blue-grey8 text-h4">O NÁS</h2>
      <div class="row col-12 justify-evenly">
        <div class="col-lg-5 col-12 q-pa-md">
          <h3 class="text-blue-grey8 text-h6">Poslání Společnosti:</h3>
          <p class="text-dark">
            Firma SDP Trade se zaměřuje na vývoj a pronájem služeb potřebných
            pro pohodlné podnikání a odpovědného zapojení se do společnosti
            <br />

            Jakékoli dotazy týkající se našeho podnikání jsou vítány
            prostřednictvím našeho kontaktního formuláře
          </p>
        </div>

        <div class="col-lg-5 col-12 q-pa-md">
          <h3 class="text-blue-grey8 text-h6">Mission Statement:</h3>
          <p class="text-dark">
            Company SDP Trade focuses on development and rental of serveces
            required for comfortable enterpreneurship and responsible comunity
            engagement <br />

            Any inquiries regarding our business are welcome through out our
            contact form
          </p>
        </div>
      </div>
      <div class="row col-12 justify-evenly">
        <div class="col-lg-5 col-12 q-pa-md">
          <h3 class="text-blue-grey8 text-h6">Naše Možnosti:</h3>
          <p class="text-dark">
            Naše společnost v současné době vlastní přes 600 metrů čtverečních
            výrobních a skladových prostor připojených k příslušným
            administrativní budovy a zázemí <br />

            jak výrobní, tak administrativní areály jsou adekvátně vybaveny
            moderními technologiemi pro provoz jakéhokoli daného podniku v dané
            době
          </p>
        </div>

        <div class="col-lg-5 col-12 q-pa-md">
          <h3 class="text-blue-grey8 text-h6">Our Capabilities:</h3>
          <p class="text-dark">
            Our company currently own over 600 square meters of production and
            warehouse attached to relevant administration buildings and
            background <br />

            both production and administration estates are adequitly equiped
            with modern technologies to operate any given business at the time
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style></style>

<script>
export default {
  name: "AboutUs",
};
</script>
