<template>
  <div>
    <div class="q-pa-xl">
      <h2 class="text-blue-grey8 text-h4">KONTAKT A KDE NÁS NAJDETE</h2>
      <div class="row col-12">
        <div class="col-lg-6 col-12 q-pa-md">
          <q-form @submit="onSubmit"
            id="contact-form"
            method="POST"
            action="https://formspree.io/f/xoqodrkw"
>
            <q-input
              color="blue-grey8"
              v-model="name"
              name="name"
              label="Jméno a Příjmení"
              class="q-pa-md bg-accent"
              outlined
              clearable
              ref="nameRef"
              :rules="[(val) => !!val || 'Name is required']"
            ></q-input>
            <q-input
              color="blue-grey8"
              accent
              v-model="phone"
              name="phone"
              label="Telefon"
              class="q-pa-md bg-accent"
              outlined
              clearable
            ></q-input>
            <q-input
              color="blue-grey8"
              accent
              v-model="email"
              name="email"
              label="Email"
              class="q-pa-md bg-accent"
              type="email"
              outlined
              clearable
              ref="emailRef"
              :rules="[(value) => value.includes('@') || 'Enter valid Email']"
            ></q-input>
            <q-input
              color="blue-grey8"
              accent
              v-model="message"
              name="message"
              label="Zpráva"
              class="q-pa-md bg-accent"
              outlined
              clearable
              type="textarea"
              ref="messageRef"
              :rules="[(val) => !!val || 'Message is required']"
            ></q-input>
            <span
              class="row justify-evenly q-ma-auto text-caption text-primary full-width"
            >
              kliknutím na tlačítko odeslat souhlasíte se zpracováním osobních
              údajů
            </span>
            <q-btn
              class="q-pa-md q-ma-md text-blue-grey8"
              icon="fas fa-paper-plane"
              type="submit"
              label="Odeslat"
            />
            <span
              class="row justify-around text-primary"
              id="form-status"
            ></span>

          </q-form>
        </div>

        <div class="col-lg-6 col-12 q-pa-md">
          <div class="q-mx-auto col-12">
            <div class="row justify-evenly">
              <div class="text-h6 text-blue-grey8 col-12">SDP Trade s.r.o.</div>
              <p1 class="text-overline text-blue-grey8 col-12"
                >mobil: +420 xxx xxx xxx</p1
              >
              <p1 class="text-overline text-blue-grey-8 col-12"
                >email: info@sdptrade.cz
              </p1>
              <div>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2578.626005251926!2d13.32605667651533!3d49.7366639714647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470aed8cd27391f5%3A0x70e58f73e918a12b!2zRG9tYcW-bGlja8OhIDEyNjEvMTY4ZiwgMzE4IDAwIFBsemXFiCAz!5e0!3m2!1scs!2scz!4v1692546285289!5m2!1scs!2scz"
                  width="666"
                  height="444"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
@media (min-width: 888px) {
  .expand-map {
    height: 444px;
    width: 666px;
  }
}
</style>

<script>
import { ref } from "vue";
export default {
  name: "ContactUs",
  data() {
    return {
      name: "",
      phone: "",
      message: "",
      email: "",
    };
  },
  methods: {
    onSubmit(event) {
      var form = document.getElementById("contact-form");
      var status = document.getElementById("form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
          Accept: "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            status.innerHTML = "Thanks for your submission!";
            form.reset();
          } else {
            response.json().then((data) => {
              if (Object.hasOwn(data, "errors")) {
                status.innerHTML = data["errors"]
                  .map((error) => error["message"])
                  .join(", ");
              } else {
                status.innerHTML =
                  "Oops! There was a problem submitting your form";
              }
            });
          }
        })
        .catch(() => {
          status.innerHTML = "Oops! There was a problem submitting your form";
        });
    },
  },

  setup() {
    const nameRef = ref(null);
    const emailRef = ref(null);
    const messageRef = ref(null);

    return {
      model: ref(""),
      nameRef,
      emailRef,
      messageRef,
    };
  },
};
</script>
