<template>
  <div class="row full-width">
    <div class="col-md-3 col-12 q-mx-auto"></div>
    <q-separator vertical inset color="secondary" />
    <div class="col-md-3 col-12 q-mx-auto">
      <p class="text-overline">
        SDP Trade s.r.o.<br />
        Domažlická 168 f<br />
        318 00, Plzeň<br />
        IČ: 05483514<br />DIČ: CZ05483514<br />
        Vedená u Krajského soudu v Plzni<br />
      </p>
    </div>
    <q-separator vertical inset color="secondary" />
    <div class="col-md-3 col-12 q-mx-auto"></div>
  </div>
</template>
<style>
.footer-button-size {
  padding-left: 4rem;
}
</style>

<script>
export default {
  name: "OurFooter",
};
</script>
