<template>
  <div class="text-accent col-12 row full-width">
    <a href="/" class="q-mx-auto q-my-auto text-accent col-lg-3 col-12">
      <img
        class="q-pa-md q-mx-auto"
        src="../assets/SDP-Lion-White.png"
        style="width: 100%"
      />
    </a>
    <q-space />
    <q-checkbox
      dark
      v-model="showMenu"
      checked-icon="fas fa-times"
      unchecked-icon="fas fa-bars"
      class="row q-mx-auto q-pa-lg menu-on-small-display"
    />

    <div
      class="justify-end row q-mx-auto q-my-auto q-pr-xl menu-on-display"
      v-show="showMenu == true"
    >
      <q-list bordered separator class="row col-12 no-border">
        <q-btn
          flat
          class="q-pa-md q-ma-md q-mx-auto col-sm-auto col-10"
          label="O NÁS"
          to="/#top"
          @click="showMenu = !showMenu"
        />

        <q-btn
          flat
          class="q-pa-md q-ma-md q-mx-auto col-sm-auto col-10"
          icon="fas fa-paper-plane"
          label="KONTAKTUJTE NÁS"
          to="/contact-us/#top"
          @click="showMenu = !showMenu"
        />
      </q-list>
    </div>
  </div>
</template>

<script>
export default {
  name: "OurHeader",
  data() {
    return {
      showMenu: false,
    };
  },
};
</script>
<style>
.menu-on-small-display {
  display: block;
}

@media (min-width: 888px) {
  .menu-on-small-display {
    display: none !important;
  }
  .menu-on-display {
    display: block !important;
  }
}
</style>
